# config file - url is different on site and locally #
_config-local.yml

_site
.sass-cache
.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
_asset_bundler_cache
*~
.jekyll-metadata